flutter/ephemeral/

# Visual Studio user-specific json.
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio build-related json.
x64/
x86/

# Visual Studio cache json
# json ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/
